/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 11, 2015, 11:44:48 PM
    Author     : user
*/
.cover{
    height: 50%;
    background-color: #262626;
    background: url(../img/1.jpg) center center no-repeat;
    background-size: cover;
    padding-top: 100px;
    text-align: center;
}
.cover h6{
    margin-left: -85px;
}
.cover label{
    margin-left: -85px;
}
.profile{
    width: 200px;
    height: 150px;
    border: 4px solid #fff;
    border-radius: 10px;
    position: relative;
    left: 40%;
    background: url(../img/2.jpg) center center no-repeat;
    background-size: cover;
}
.msg{
    position: relative;
    padding-top: 45%;
    padding-bottom: 45%;
    padding-left: 20%;
}
